kubeProxyReplacement: strict
k8sServiceHost: api.cluster-2.dobry-kot.ru
k8sServicePort: 443

ipam:
  operator:
    clusterPoolIPv4MaskSize: 24
    clusterPoolIPv4PodCIDRList:
      - 10.100.0.0/16

resources:
  limits:
    cpu: 4000m
    memory: 4Gi
  requests:
    cpu: 100m
    memory: 512Mi
