[Service]
EnvironmentFile=-${main_path.base_kubernetes_path}/kubelet/service/kubelet-args.env

ExecStart=
ExecStart=/usr/bin/kubelet \
    $KUBELET_HOSTNAME \
    $KUBELET_CNI_ARGS \
    $KUBELET_RUNTIME_ARGS \
    $KUBELET_AUTH_ARGS \
    $KUBELET_CONFIGS_ARGS \
    $KUBELET_BASIC_ARGS \
    $KUBELET_KUBECONFIG_ARGS \
    $KUBELET_CLOUD_ARGS
