docs/build/*
k8s/.terraform/*
k8s/.terraform*
k8s/states/*
base/.terraform/*
base/.terraform*
base/states/*

k8s/providers-dev.tf
base/providers-dev.tf
1.yaml
test.yaml
terragrunt/*
k8s/terraform.tfstate.d/cluster-2/terraform.tfstate
k8s/terraform.tfstate.d/cluster-2/terraform.tfstate.backup
k8s/terraform.tfstate.d/cluster-3/terraform.tfstate
k8s/terraform.tfstate.d/cluster-3/terraform.tfstate.backup
