docs/build/*
k8s/.terraform/*
k8s/.terraform*
k8s/states/*
base/.terraform/*
base/.terraform*
base/states/*

k8s/providers-dev.tf
base/providers-dev.tf
1.yaml
test.yaml
terragrunt/*
k8s/terraform.tfstate.d/*


k8s-yandex-cluster-naked/*

charlotte-example/*