path "auth/${base_vault_path_approle}/login" {
  capabilities = [ "update" ]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}

path "${intermediat_path}/sign/${issuer_name}" {
    capabilities = ["update"]
}

path "${intermediat_path}/${issuer_name}/certs" {
    capabilities = ["list"]
}
