---
apiVersion: v1
clusters:
- cluster:
    certificate-authority: ${certificate-authority}
    server: https://${kube-apiserver}:${kube-apiserver-port}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: ${component-name}
  name: ${component-name}@kubernetes
current-context: ${component-name}@kubernetes
kind: Config
preferences: {}
users:
- name: ${component-name}
  user:
    client-certificate: ${client-certificate}
    client-key: ${client-key}
