
path "${pki_path}/sign/${certificate_role}" {
    capabilities = ["update"]
}

path "${pki_path}/${certificate_role}/certs" {
    capabilities = ["list"]
}

path "auth/${pki_path}/approle/login" {
  capabilities = [ "update" ]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}

path "${pki_path}/cert/ca" {
    capabilities = ["read"]
}