
path "pki-root/cert/ca" {
    capabilities = ["read"]
}

path "${pki_path}/cert/ca" {
    capabilities = ["read"]
}

path "auth/clusters/${cluster_name}/approle/login" {
  capabilities = [ "update" ]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}
