
path "auth/clusters/${cluster_name}/approle/role/${approle_name}/role-id" {
  capabilities = [ "read" ]
}

path "auth/clusters/${cluster_name}/approle/role/${approle_name}/secret-id" {
  capabilities = [ "update" ]
} 

