%{for zone_name in master_instance_list }
path "auth/clusters/${cluster_name}/approle/role/${ca_name}-${zone_name}/role-id" {
  capabilities = [ "read" ]
}

path "auth/clusters/${cluster_name}/approle/role/${ca_name}-${zone_name}/secret-id" {
  capabilities = [ "update" ]
} 
%{endfor}