
path "${pki_path}/sign/${issuer_name}" {
    capabilities = ["update"]
}

path "${pki_path}/${issuer_name}/certs" {
    capabilities = ["list"]
}

path "auth/clusters/${cluster_name}/approle/login" {
  capabilities = [ "update" ]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}
