path "${base_vault_path_kv}/data/${secret_name}" {
    capabilities = ["read"]
}

path "auth/${base_vault_path_approle}/login" {
  capabilities = [ "update" ]
}

path "auth/token/renew" {
    capabilities = ["update"]
}

path "auth/token/renew-self" {
    capabilities = ["update"]
}
